<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186303062477-cj0t6a3tum3lotc161sc2ualuamofg12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186303062477-cj0t6a3tum3lotc161sc2ualuamofg12</string>
	<key>API_KEY</key>
	<string>AIzaSyCBYRaUfPA57agB-vJ4FhJCOxZFHyj2ZWA</string>
	<key>GCM_SENDER_ID</key>
	<string>186303062477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationFutsalGembira</string>
	<key>PROJECT_ID</key>
	<string>futsal-gembira-df88b</string>
	<key>STORAGE_BUCKET</key>
	<string>futsal-gembira-df88b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186303062477:ios:2aa993bfba546ba91ca484</string>
</dict>
</plist>